# Lesson 1: Review loading and previewing data 

Like we did in Module 1, before we being to analyze our data, we need to do a few steps first.

Next, we will load in packages, to get the extra tools we need for this module loaded in R. For this module, we will load in the tidyverse package.

In [1]:
library(tidyverse)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.5.1     ✔ purrr   1.0.2
✔ tibble  3.2.1     ✔ dplyr   1.1.4
✔ tidyr   1.3.1     ✔ stringr 1.5.1
✔ readr   2.1.2     ✔ forcats 0.5.1

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

## Load in data 

Now it’s time to load in our data! In this scenario, water temperature data and dissolved oxygen data were collected and stored in two separate files. Therefore, we will need to load in both files in order to use them.

As a note, the units for temperature are Celsius (C) and the units for dissolved oxygen are mg/L.

Now that our data is loaded into R, we can explore the data using the view and head commands. Our goal is to make sure things loaded correctly and to get a first look to see if the data make sense.

In [3]:
# read in stream temp data 
stream_temp <- read.csv("streams_temperature.csv", header=TRUE, sep=",")

# read in dissolved oxygen data 
stream_DO <- read.csv("streams_DissolvedOxygen.csv", header=TRUE, sep=",")

View(stream_temp)

head(stream_DO)

   year StreamA StreamB
1  2007 13.20   10.20
2  2008 12.50      NA
3  2009 13.90      NA
4  2010 11.36   11.67
5  2011 12.97      NA
6  2012 13.10   11.10
7  2013 14.47   11.42
8  2014 13.37   11.37
9  2015 12.48   12.18
10 2016 12.63   12.03
11 2017 13.16   11.96
12 2018 12.94   12.56
13 2019 14.10   13.00
14 2020 12.07   12.87
15 2021 13.43   13.25
16 2022 13.28   13.78

  year StreamA StreamB
1 2007 7.18      NA
2 2008 7.27    8.07
3 2009 7.46    7.26
4 2010 7.00      NA
5 2011 6.53      NA
6 2012 7.50    9.50

emoji **Class Questions:**

- What do you notice is different between using the command “View” and the command “head”? Which one do you think is more useful?
- Recalling the previous module, what does the `dim()` function tell us about a data frame?

In [4]:
dim(stream_temp)
dim(stream_DO)

[1] 16  3

[1] 16  3

emoji **Class Questions:**

- How many data entries are in the water temperature data set?
- How many data entries are in the dissolved oxygen data set?

## Lesson 1 Recap